*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --color-one: #00383e;
    --color-two: #bceae6;
    --color-three: #fed1a5;
    --color-four: #cc5075;
    --color-five: #091b4b;
}

body {
    font-family: 'Comfortaa', cursive;
}

.header {
    color: #fff;
    background-color: var(--color-one);
    text-align: center;
    padding: calc(1.7vw + 1.3vh);
}

.header-title {
    font-size: calc(2.7vw + 2.2vh);
    font-weight: 400;
}

.aside {
    padding: 3rem;
}

.city-input {
    display: block;
    padding: 0.3rem 0.2rem;
    margin-bottom: 1rem;
    outline: none;
}

.search-btn{
    background-color: var(--color-four);
}

.search-btn:hover {
    background-color: #cc5075e2;
}

.search-btn,
.aside-list {
    color: #fff;
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem 7rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    cursor: pointer;
}


.aside-list {
    list-style: none;
    background-color: var(--color-three);
    margin-top: 2rem;
}

.main {
    display: flex;
    margin-top: 2rem;
}

.weather-info {
    padding: 2rem;
}

.city-info {
    border: 0.2rem var(--color-two) solid;
    border-radius: 0.5rem;
    padding: 1.5rem 4rem 2.5rem;
}

.city-info-title {
    font-size: calc(1.7vw + 1.2vh);
}

.forecast-info {
    margin-top: 1.5rem;
}

.forecast-info-cards {
    display: flex;
}

.cards {
    width: 20rem;
    height: 25rem;
    margin: 2rem 2rem 0 0;
    color: white;
    background-color: var(--color-five);
}


